NET "ADDRCPU[17]" LOC = H17;
NET "ADDRCPU[16]" LOC = H16;
NET "ADDRCPU[15]" LOC = H15;
NET "ADDRCPU[14]" LOC = H14;
NET "ADDRCPU[13]" LOC = G16;
NET "ADDRCPU[12]" LOC = G15;
NET "ADDRCPU[11]" LOC = G14;
NET "ADDRCPU[10]" LOC = G13;
NET "ADDRCPU[9]" LOC = F18;
NET "ADDRCPU[8]" LOC = F17;
NET "ADDRCPU[7]" LOC = F15;
NET "ADDRCPU[6]" LOC = F14;
NET "ADDRCPU[5]" LOC = E16;
NET "ADDRCPU[4]" LOC = E15;
NET "ADDRCPU[3]" LOC = D17;
NET "ADDRCPU[2]" LOC = D16;
NET "ADDRCPU[1]" LOC = C18;
NET "ADDRCPU[0]" LOC = C17;

NET "DATACPU[15]" LOC = M14;
NET "DATACPU[14]" LOC = M13;
NET "DATACPU[13]" LOC = L18;
NET "DATACPU[12]" LOC = L17;
NET "DATACPU[11]" LOC = L16;
NET "DATACPU[10]" LOC = L15;
NET "DATACPU[9]" LOC = K15;
NET "DATACPU[8]" LOC = K14;
NET "DATACPU[7]" LOC = K13;
NET "DATACPU[6]" LOC = K12;
NET "DATACPU[5]" LOC = J17;
NET "DATACPU[4]" LOC = J16;
NET "DATACPU[3]" LOC = J15;
NET "DATACPU[2]" LOC = J14;
NET "DATACPU[1]" LOC = J13;
NET "DATACPU[0]" LOC = J12;

NET "LEDCPU1[6]" LOC = F8;
NET "LEDCPU1[5]" LOC = E8;
NET "LEDCPU1[4]" LOC = A8;
NET "LEDCPU1[3]" LOC = F7;
NET "LEDCPU1[2]" LOC = E7;
NET "LEDCPU1[1]" LOC = D7;
NET "LEDCPU1[0]" LOC = C7;

NET "LEDCPU2[6]" LOC = B10;
NET "LEDCPU2[5]" LOC = A10;
NET "LEDCPU2[4]" LOC = G9;
NET "LEDCPU2[3]" LOC = F9;
NET "LEDCPU2[2]" LOC = E9;
NET "LEDCPU2[1]" LOC = D9;
NET "LEDCPU2[0]" LOC = C9;

NET "LEDCPU3[15]" LOC = A14;
NET "LEDCPU3[14]" LOC = E13;
NET "LEDCPU3[13]" LOC = D13;
NET "LEDCPU3[12]" LOC = B13;
NET "LEDCPU3[11]" LOC = A13;
NET "LEDCPU3[10]" LOC = F12;
NET "LEDCPU3[9]" LOC = E12;
NET "LEDCPU3[8]" LOC = A12;
NET "LEDCPU3[7]" LOC = F11;
NET "LEDCPU3[6]" LOC = E11;
NET "LEDCPU3[5]" LOC = D11;
NET "LEDCPU3[4]" LOC = C11;
NET "LEDCPU3[3]" LOC = B11;
NET "LEDCPU3[2]" LOC = A11;
NET "LEDCPU3[1]" LOC = E10;
NET "LEDCPU3[0]" LOC = D10;

NET "CLOCKCPU" LOC = U9;
NET "DBCCPU" LOC = C14;
NET "ENCPU" LOC = M15;
NET "OECPU" LOC = M16;
NET "RSTCPU" LOC = U10;
NET "WECPU" LOC = M18;
NET "READYCPU" LOC = J6;